@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;800&display=swap');
body { 
    background: #111111; 
    font-family: Barlow;
    font-size: 19px;
    line-height: 27px;
    color: #CCCCCC;
}
p {
    margin-left: 2em;
    /* margin-right: 2em; */
    width: 500px;
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-weight: normal;
}
del {
  background-color: #FF3951;
  color: black;
  text-decoration: line-through;
  font-weight: normal;
}
ins {
  background-color: #61ECFF;
  color: black;
  text-decoration: none;
  font-weight: normal;
}
small {
  line-height: 50px;
  color:#CCCCCC;
  font-weight: bold;
}
b {
  text-transform: uppercase;
  font-weight: bold;
  color:#ffffff;
}
img {
  width:130px;
  margin-left: 2em;
}
img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}
legenda{
  margin-left: 2.5em;
  font-size: 16px;
}
url {
  margin-left: 3em;
  font-size: 13px;
  color: #6B6B6B;
}
